.settings-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;
}

.settings-link-label {
    color: var(--primary-accent-color);
}

.settings-link:hover .settings-link-label {
    text-decoration: underline;
}
